[defaults]
nocows = True
retry_files_enabled = False
vault_password_file = ./.vault-password
inventory = ./hosts.yaml
remote_tmp = $HOME/.cache/ansible/tmp

[ssh_connection]
pipelining = True
ssh_extra_args = -o StrictHostKeyChecking=accept-new
