default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.0.0.0/8

lovelace:
  resource_mode: yaml
  dashboards:
    my-home:
      mode: yaml
      filename: dashboards/home.yaml
      title: Home
      icon: mdi:home
      show_in_sidebar: true
      require_admin: false

script: !include scripts.yaml
script dir: !include_dir_merge_named scripts/

automation: !include automations.yaml
automation dir: !include_dir_merge_list automations/
