http:
  routers:
    unifi:
      entryPoints:
        - "websecure"
      rule: "Host(`unifi.home.schndr.cloud`)"
      service: unifi
    proxmox:
      entryPoints:
        - "websecure"
      rule: "Host(`proxmox.home.schndr.cloud`)"
      service: proxmox
    pbs:
      entryPoints:
        - "websecure"
      rule: "Host(`pbs.home.schndr.cloud`)"
      service: pbs
    truenas-monty:
      entryPoints:
        - "websecure"
      rule: "Host(`monty.home.schndr.cloud`)"
      service: truenas-monty
    truenas-aria:
      entryPoints:
        - "websecure"
      rule: "Host(`aria.home.schndr.cloud`)"
      service: truenas-aria
    glinet-comet:
      entryPoints:
        - "websecure"
      rule: "Host(`kvm.home.schndr.cloud`)"
      service: glinet-comet
    slzb-06m:
      entryPoints:
        - "websecure"
      rule: "Host(`slzb.home.schndr.cloud`)"
      service: slzb-06m
    crafty:
      entryPoints:
        - "websecure"
      rule: "Host(`crafty.home.schndr.cloud`)"
      service: crafty
  services:
    unifi:
      loadBalancer:
        servers:
          - url: "https://10.10.10.1"
    proxmox:
      loadBalancer:
        servers:
          - url: "https://10.10.10.10:8006"
    pbs:
      loadBalancer:
        servers:
          - url: "https://10.10.10.11:8007"
    truenas-monty:
      loadBalancer:
        servers:
          - url: "https://10.10.10.20"
    truenas-aria:
      loadBalancer:
        servers:
          - url: "https://100.118.182.87"
    glinet-comet:
      loadBalancer:
        servers:
          - url: "https://10.10.10.13"
    slzb-06m:
      loadBalancer:
        servers:
          - url: "http://10.10.80.2"
    crafty:
      loadBalancer:
        servers:
          - url: "https://10.10.10.210:8443"
