services:
  watchtower:
    container_name: watchtower
    hostname: watchtower.home
    image: nickfedor/watchtower:latest
    restart: unless-stopped
    networks:
      - dockernet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      TZ: Europe/Berlin
      # WATCHTOWER_LABEL_ENABLE: true
      # WATCHTOWER_MONITOR_ONLY: true
      WATCHTOWER_SCHEDULE: "0 0 3 * * *"
      WATCHTOWER_TIMEOUT: 30s
      WATCHTOWER_ROLLING_RESTART: true
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_NO_STARTUP_MESSAGE: true
      WATCHTOWER_NOTIFICATION_URL: ${WATCHTOWER_NOTIFICATION_URL}
networks:
  dockernet:
    external: true
